
*{
    margin: 0;
    padding: 0;
}

/*---------generelle regler-------*/
body{
    background-color: #f2f2f2;
}
h1{
    font-family: 'Lato', sans-serif;
    font-size: 7.5vw;
    color: #0C0054;
}


.Hcenter{
    margin: auto;
    margin-top: 30vh;
    z-index: 1;
    text-align: center;
}

.vertikalH{
    writing-mode: vertical-rl;
    text-align: center;
    transform:rotate(180deg);
    font-size: 9vw;
    margin-top: 5%;
}
.vertikalHstreg{
    writing-mode: vertical-rl;
    text-align: center;
    transform:rotate(180deg);
    font-size: 7vw;
    margin-top: 5%;
    border-left: solid black 2px;
}

.pt50{
    font-size: 20pt;
}
.billeH{
    text-align: right;
    margin-right: 2%;
    margin-top: 5%;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 15pt;
}

.alignright{
    text-align: right;
}

body a{
    text-decoration: none;
    color: black;
}
/*--------burger/nav-------------*/


#burgerbaggrund{
    width: 70px;
    height: 80px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
    background-image: url(images/burgerklat.png);
    background-size: 70px;
    background-repeat: no-repeat;
    border: black, solid, 2px;  
}
#burgerbaggrund:hover{
    transform: scale(1.05);    
}
#logo{
    width: 70px;
    height: auto;
    position: fixed;
    display: block;
    margin-top: 50px;
    margin-left: 50px; 
    transition: transform .3s;
}
#logo:hover{
    transform: scale(1.05);
}
  
nav{
    z-index: 999;
    position: fixed;
}
  
.nav-links{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgb(242, 242, 242); /*kunne være et baggrundsbillede?*/
    transform: translateX(100%);
    transition:All 0.5s ease;
}
  
.nav-links a{
    opacity: 0;
}

  
.nav-active{
    transform: translateX(0);
}
  
.nav-links a{
    text-decoration: none;
    color: rgb(9, 13, 90);
    font-family: 'Raleway', sans-serif;
    transition:0.3s ease;
    transform: translateX(0%);
}

#dropdownikon{
    width: 15px;
    margin-left: 10px;
}
    
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
      }
}
    
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px );
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px );
}


/*--------INDEX-------------------------------*/

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
     }
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.indexbody #logo{
    opacity: 0;
    animation: fadeInAnimation ease-in 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
#relativcontainer{
    width: 100%;
    height: 100vh;
    position: relative;
}

.videocontainer{
    width: 100%;
    height: 100vh;
    animation: fadeOutAnimation ease-out 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 2s; 
    position: absolute;
    z-index: 1;
}

#splash{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#btn{
    margin: auto;
    border: solid black 2px;
    width: 150px;
    height: 30px;
    text-align: center;
    padding-top: 8px;
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 15pt;
    background-color: white;
    transition: transform .3s;
    z-index: 5;
}

#btn:hover{
    transform: scale(1.05);
}

.indexposabs{
    position: absolute;
    width: 100%;
    height: 50vh;
    z-index: 2;
     opacity: 0;
    animation: fadeInAnimation ease-in 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}


/*-------RUM---------*/

.objectfit{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#set-height {
    display: block;
    position: relative;
    bottom: 0;
  }
  #set-height1 {
    display: block;
    position: relative;
    bottom: 0;
  }
#v0 {
    position: sticky;
    top: 0;
    width: 100%;
}
#v1 {
    position: sticky;
    top: 0;
    width: 100%;
}

.billede-tekst{
    width: 70%;
    margin: auto;
    margin-left: 20%;
    padding-top: 10vh;
    height: 80%;
    display: flex;   
}
.aflangDiv{
    width: 90%;
    margin-left: 5%;
}

.billedevenstre-entre{
    width: 50%;
    object-fit: contain;
}
.aflangB{
    width: 60%;
}

.teksthøjre-entre{
    width: 40%;
    margin-left: 5%;
    height: auto;
    border-left: solid black 2px;
    padding-left: 20px;
}
.teksthøjre-entre-uborder{
    width: 40%;
    margin-left: 10%;
    height: auto;

    padding-left: 20px;
}

.rumtekst{
    text-align: justify;
}

.fuldskærmcontainer{
    width: 100%;
    height: 100vh;
}
.billedefuld{
    height: 90%;
    width: 90%;
    object-fit: cover;
    margin-left: 5%;
    margin-top: 5%;
    
}
.trekolonner{
    display: flex;
    width: 100%;
    padding-top: 10vh;
    height: 80%;
    justify-content: space-evenly;
}

.toTekst{
    width: 20%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2%;
    border-left: solid black 2px;
    padding-left: 2%;
}

.trekol-billede{
    width: 50%;
    height: 100%;
    object-fit: contain;

}
.underline{
    border-bottom: black solid 2px;
    width: 100%;
    margin-bottom: 5vh;
}

.kolonne-billede-tekst{
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-left: 5%;
    border-left: black solid 2px;
    align-items: flex-end;
}

.billewhoB{
    width: 55%;
    height: auto;
    object-fit: contain;
    padding-left: 5%;
}
.billewhoT{
    text-align: justify;
    padding-left: 5%;
}

.margintop{
    text-align: justify;
    margin-left: 5%;
    margin-top: 10%;
}
.karousel{
    width: 100%;
    height: 100vh;
    margin: auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.karouselDiv{
    width: 40%;
    height: 75%;
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    display: block;
}
#venstrepil{
    margin-top: 20%;
    margin-left: 5%;
    width: 2%;
    height: 20px;
}
#venstrepil:hover{
    cursor: pointer;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
    transition: 1s;
}

#højrepil:hover{
    cursor: pointer;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1);
    transition: 1s;
}
#højrepil{
    margin-top: 20%;
    margin-right: 5%;
    width: 2%;
    height: 20px;
}
.karouselB{
    width: 80%;
    height: 90%;
    object-fit: cover;
    margin-bottom: 5%;
}

.karouselT{
    width: 35%;
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    margin-left: 2%;
    gap: 5%;
    margin-top: 5%;
}

.karouselP{
    text-align: justify;
    padding-top: 5%;
    border-top: solid black 2px;
    margin-top: 2%;
}

.button{
    width: 150px;
    height: 30px;
    text-align: center;
    padding-top: 8px;
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 12pt;
    background-color: white;
    transition: transform .3s;
    z-index: 5;
}

.button:hover{
    transform: scale(1.05);
}


.gæsteDiv{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 5%;
}
.gæster{
    width: 100%;
    height: 50%;
    object-fit: cover;
    margin-bottom: 4%;
}



/**** Kontakt side ****/

#kontakt{
    display: flex;
    width: 80%;
    height: 80%;
    margin: auto;
    padding-top: 5%;
}

#kontaktImg {
    height: 100%;
    width: 60%;
    object-fit: cover;
    

}
#informationer{
    width: 40%;
    height: 100%;
    margin-left: 5%;
}

#informationer h1 {
    margin-bottom: 10%;
}

#informationer input {
    width: 80%;
    height: 20pt;
    margin-top: 3%;
    background-color: #E2E1DB;
    border: none;
}

#kontakt button {
    width: 25%;
    height: 25pt;
    margin-top: 6%;
    background-color: white;
    border: none;
}

#informationer textarea {
    margin-top: 3%;
    width: 80%;
    background-color: #E2E1DB;
    border: none;
}


/*---------add ons---------------*/

.laptop{
    display: block;
}

.mobil{
    display: none;
}

/*---------- FOOTER ------------*/
footer{
    background-color: #E2E1DB;
}

.footerlayout{
    display: flex;
    justify-content: center;
    width:85%;
    margin:auto;
    padding-top: 50px;
    padding-bottom:80px;
}

.footerbox{
    width: 38%;
    padding: 20px;
}

.lillefooterbox{
    width:24%;
    padding: 20px;
}

footer p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.3vw; 
    color: #000000;
    line-height: 175%;
}

footer a{
    display: block;
}

footer img{
    width: 80%;
    margin: 5%;
}

#nyhedsbrev {
    width: 100%;
    display: flex;
  }
  
  #nyhedsbrev input[type=text], input[type=submit] {
    width: 66%;
    padding: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  #nyhedsbrev input[type=text] {
    margin-right: 5px; 
    margin-top: 10px;
  }
  
  #nyhedsbrev input[type=submit] {
    width: 30%;
    background-color: #F2F2F2;
    color: #000000;
    border: none;
  }
  
  #nyhedsbrev input[type=submit]:hover {
    opacity: 0.8;
  }

#someboks{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 5% 5% 5% 0%;
}

#someicon{
    width: 18%;
}


@media only screen and (max-width: 900px) {

    .Hcenter{
        font-size: 100pt;
        margin-top: 20vh;
    }
    .laptop{
        display: none;
       }
       
       .mobil{
        display: block;
       }
       h1{
        font-size: 50pt;
       }
    .vertikalH {
        font-size: 50pt;
    }
       p{
        font-size: 12pt;
       }
    /*---------INDEX-----------*/
   .videocontainer{
    width: 900%;
   }
   #splash{
    transform: rotate(90deg);
   }


   /*------RUM-------------------*/
   
   /*----entre----*/
   .billede-tekst{
    flex-direction: column;
    width: 90%;
   }
   .billedevenstre-entre{
    width: 100%;
    height: 65%;
    align-items: center;
    margin-bottom: 10%;
    object-fit: cover;
   }
   .teksthøjre-entre{
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 5%;
   }

   .trekolonner{
    flex-direction: column;
    
   }
   .toTekst{
    display: flex;
    justify-content: space-between;
    gap: 7%;
    flex-direction: row;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 40%;
   }
   .trekol-billede{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 10%;
   }
   .alignright{
    margin-right: 5%;
   }
   .teksthøjre-entre-uborder{
    width: 100%;
    margin-left: 0%;
   }
   .billede-tekst{
    margin-left: 5%;
    width: 85%;
   }

   /* FOOTER */

   .footerlayout{
    display: flex;
    flex-direction: column;
    }

    .footerbox{
    display:none;
    }

    .lillefooterbox{
    display:none;
    }

    .mobilfooterbox{
    width: 85%;
    }

    footer p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 3.7vw; 
    color: #000000;
    line-height: 185%;
    margin-bottom:40px;
    }

    footer a{
    color: #000000;
    text-decoration: underline;
    }

    #nyhedsbrev {
        width: 100%;
        display: flex;
      }
      
    #nyhedsbrev input[type=text], input[type=submit] {
        width: 66%;
        padding: 12px;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }
      
    #nyhedsbrev input[type=text] {
        margin-right: 5px; 
        margin-top: 0px;
      }
      
    #nyhedsbrev input[type=submit] {
        width: 30%;
        background-color: #F2F2F2;
        color: #000000;
        border: none;
      }
      
    #nyhedsbrev input[type=submit]:hover {
        opacity: 0.8;
      }
    
    #someboks{
        width: 85%;
        display: flex;
        justify-content: space-between;
        margin: 5% 5% 10% 0%;
    }
    
    #someicon{
        width: 18%;
    }
}

@media only screen and (min-width: 900px){
    .mobilfooterbox{
        display:none;
    }
}


